header{
    display: flex;
    background-color:#8BE8F5;
    
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    text-align: end;
    list-style: none;
    text-decoration: none;
  
}
ul img{
    display:inline;
    width: 70px;
}
.satauri2{
    /* width: 550px; */
   margin: 5px 150px;
   color: red;
}
.satauri3{
    margin: 5px 150px;
    color: #FFEF5E;
}
.satauri4{
    margin: 5px 150px;
    color: #FFEF5E;
}
.logo{
   margin: 0 49px;
}




.bolo{
    display: inline-block;
}
article{
    display: inline-block;
    padding-left: 2%;
}
footer{
    background-color:#FFEF5E;
    text-align: center;
}
.bolo{
    margin-left: 3%;
}


main{
    background-color:#F29BF45E;
    padding: 2%;
}
body{
    padding: 2%;
}
